REDIS_HOST=localhost
REDIS_PORT=6379
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
S3_ENDPOINT=http://localhost:9000
ORDERS_PATH=s3a://chakra-lakehouse/silver/orders/
ORDER_STATS_PATH=data/features/order_stats/
CUSTOMER_STATS_PATH=data/features/customer_stats/
