# Postgres
POSTGRES_USER=debezium
POSTGRES_PASSWORD=debezium
POSTGRES_DB=business

# Salesforce (optional)
SALESFORCE_CONSUMER_KEY=
SALESFORCE_CONSUMER_SECRET=
SALESFORCE_USER=
SALESFORCE_PASSWORD=

# Stripe (optional)
STRIPE_API_KEY=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
